.header {
  width: 100%;
  background-image: radial-gradient(
    rgba(217, 217, 217, 0.621) 10%,
    transparent 11%
  );
  background-size: 15px 15px;
  background-repeat: repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  padding: 0rem 20rem 0rem 20rem;
}

// .header_gradient {
//   position: absolute;
//   right: 6rem;
//   width: 50%;
//   height: 65%;
// }

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 12rem 0 6rem 0;

  .descr {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
  }

  .titlearea {
    width: 80%;
  }

  .profile {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    position: relative;
  }

  .bubble1 {
    position: absolute;
    top: 0;
    right: 13rem;
    z-index: 1;
    animation: floating 4s infinite ease-in-out;
  }

  .bubble2 {
    position: absolute;
    top: 6rem;
    right: -4rem;
    z-index: 3;
    animation: floating 3.5s infinite ease-in-out;
  }

  .bubble3 {
    position: absolute;
    top: 16rem;
    right: 13rem;
    z-index: 4;
    animation: floating 4.5s infinite ease-in-out;
  }

  .portrait {
    z-index: 2;
    // width: 18rem;
    // height: 18rem;
    animation: floating 9.5s infinite ease-in-out;

    filter: drop-shadow(0 0.3rem 0.39rem rgba(0, 0, 0, 0.2));
  }
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0 0 3rem 0;
}

@keyframes floating {
  0% {
    transform: translate (0, 0px);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0;
  }

  .header__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    padding: 12rem 2rem 4rem 2rem;
    gap: 5rem;

    .descr {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
    }

    .titlearea {
      width: 100%;
    }

    .profile {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: relative;
    }
  }
}
