.projects {
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(98, 82, 204);
  background: linear-gradient(
    180deg,
    rgb(216, 210, 255) 0%,
    rgba(167, 226, 255, 0.377) 40%,
    rgb(255, 255, 255) 100%
  );
  border-radius: 100px;
  padding: 10rem 0rem;
}
.projectspace {
  width: 80%;
  height: auto;
  border: 1px solid rgba(151, 151, 151, 0.209);

  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 6rem;
  box-sizing: border-box;

  padding: 8rem 5rem;
  border-radius: 20px;

  z-index: 0;
  // background-image: url("/images/gradient.png");
  // background-position: bottom;
  // background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.863);
}
