.maincard {
  position: relative;
  display: flex;
  justify-content: center;

  // width: 380px;
  // height: 519px;

  width: 20rem;
  height: 25rem;
}

.behindcard {
  position: absolute;

  width: 100%;
  width: 20rem;
  height: 25rem;

  background: linear-gradient(rgba(0, 170, 255, 0.82) 0%, #b18edeb9);

  border-radius: 60px 60px 60px 0px;
  transform: matrix(1, 0.14, 0, 0.99, 0, 0);
  transform-origin: left bottom;
  z-index: 2;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.maincard:hover {
  .behindcard {
    position: absolute;
    // width: 100%;
    // max-width: 380px;
    // // height: 519px;
    width: 20rem;
    height: 25rem;

    background: linear-gradient(rgb(37, 99, 191) 0%, #b18edea4);
    border-radius: 90px 90px 60px 0px;

    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transform: skewX(-10deg) skewY(20deg) scaleX(0.8) translateY(-3px);
  }
}

.frontcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(24, 32, 79, 0.25) 0px 40px 80px,
    rgba(255, 255, 255, 0.75) 0px 0px 0px 0.5px inset;

  padding: 50px 20px;
  // max-width: 380px;
  // height: 519px;
  width: 20rem;
  height: 25rem;
  backdrop-filter: blur(40px);

  border-radius: 60px 60px 60px 0px;
  z-index: 3;
  padding: 2.4rem;
  overflow: hidden;
}

.cardtop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card_image {
  width: auto;
  height: 60px;
  object-fit: contain;
  align-self: flex-start;
  opacity: 0.85;
}

.card_title {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}

.card_desc {
  color: #fff;
  font-weight: 300;
  font-size: 13px;
}

.card_tags {
  width: fit-content;
  color: rgb(255, 255, 255);

  background: linear-gradient(
    rgba(255, 255, 255, 0.393) 0%,
    rgba(217, 223, 255, 0.157) 100%
  );

  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;

  font-size: 12px;
  font-weight: 400;
  cursor: default;

  border: 1px solid rgba(255, 255, 255, 0.274);
  box-sizing: border-box;

  // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px,
  //   rgba(23, 0, 102, 0.2) 0px 20px 40px;
}
