.button1 {
  cursor: pointer;
  overflow: hidden;
  align-items: center;
  display: inline-flex;
  color: rgb(255, 255, 255);

  justify-content: center;
  padding: 0 0.6rem;
  border-radius: 1.2rem;
  height: 1.8rem;

  border: 1px solid rgb(175, 158, 233);
  background-color: rgb(198, 184, 243);

  &:hover {
    background-color: rgb(170, 146, 250);
    transform: scale(1.07);
  }
}

.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 10px;
  width: 160px;
  cursor: pointer;
  color: #333;

  background: linear-gradient(
    rgba(255, 255, 255, 0.923) 0%,
    rgba(217, 223, 255, 0.462) 100%
  );

  border: 0.5px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px,
    rgba(23, 0, 102, 0.2) 0px 20px 40px;
  border-radius: 0.8rem;

  &:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 7px,
      rgba(23, 0, 102, 0.2) 0px 25px 45px;
  }
}

.icon {
  background: rgba(161, 161, 207, 0.501);
  color: #383838a6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0.5px inset;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
}
